  * {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
}

html, body, .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

  .header {
    background-color: whitesmoke;
  }

  .font-philosopher {
    font-family: 'Philosopher', sans-serif;
  }