  .font-philosopher {
    font-family: 'Philosopher', sans-serif;
  }

  /* Initial state of the feature components */
.feature-component {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.s ease;
}

/* Animation when the component is in the viewport */
.feature-component.animate {
  opacity: 1;
  transform: translateY(0);
}