  * {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
}

html, body, .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

  .header {
    background-color: whitesmoke;
  }

  .font-philosopher {
    font-family: 'Philosopher', sans-serif;
  }

  /* Initial state of the feature components */
.feature-component {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.s ease;
}